.customers{
    padding: 80px 0 100px 0;
    width: 100%;
    
}

  
.customers__container{
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: 1;
}

.customers__title{
  margin-bottom: 25px;
  text-align: center;
  font-family: 'Raleway';
  font-size: 36px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}
.customers__line{
margin: 0 auto 30px;
width: 67px;
height: 2px;
background-color: #d98943;
margin-top: 34px;
}
.customers__description{
    margin-bottom: 67px;
    text-align: center;
}
.customers__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
.customers__card-item{
    width: 253px;
    margin: 0 15px;
}
.customers__text{
    background-color: #e2e2e2;
    margin: auto;
    border-radius: 7px;
}
.customers__text{
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 19px;
    color: #86878b;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 9px 22px 6px 23px;
    position: relative;
}
    
.avatar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70px;
  height: 70px;
  border-radius: 50%;
}


.customers__card-name-title{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 12px;
    font-style: normal;
    font-family: 'Open Sans';
    text-align: center;
    width:100%;
}
.name{
    margin-top: -45px;
    margin-left: 45px;
}
.customers__card-name-second{
    display: block;
    color: #86878b;
    text-align: end;
    font-style: normal;
    font-family: 'Open Sans';
    text-align: center;
}
.customers__text::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #e2e2e2;
    margin-top: 6px;
    margin-left: 16px;
  }